<div class="grandoteDetail">
    <div class="navigationDetail">
                <div class="navigation_logo">
                    <img class="nav_logo" src="/media/page/logo.png" alt="">
                </div>
                <div class="navigation_menu">
                    <a href="#">Home</a>
                    <a href="#">Store
                    <img src="/media/page/up.png" alt=""></a>              
                    <a href="#">Contact Us</a>
                    <a href="#">Testing</a>
                </div>
              
                </div>
</div>
 <div class="sub_nav">
          <a href="/store/notebook">Notebooks</a>
                <a href="/store/pens">Pens</a>              
                <a href="/store/accersories">Accesories</a>
                <a href="/store/bags">Bags</a>
     </div>
<div class="Allproducts">
    
    <div class="list">
        {{#each products}}
            

                <div class="product">
        
                <!--  <img class="product_image" src="/media/notebooks/{{colorblue_1}}" alt=""> 
                {{color_images.[0].images.[0]}}.png
                <h3 class="product_tittle">{{name}}</h3>
                    <p>{{_id}}</p>
                -->
                    <a class="image_btn" href="/productsDetail/{{_id}}" class="product_tittle">
                        <img class="product_image" src="/media/notebooks/{{color_images.[0].images.[0]}}.png" alt="" >
                    </a>
                    <a href="/productsDetail/{{_id}}" class="product_tittle">{{name}}</a>
                    <p class="product_priceb">$ {{priceb}} COP</p>
                    <p class="product_priced">$ {{discount}} COP</p>
                    
                </div>
                <br>
               
        {{/each}}
    </div>
    <a class="btn_buy" href="/orders">
                        <img class="buy_imgBtn" src="/media/page/buy_btn.png" alt="">
                       
     </a>