<div class="grandoteDetail">
    <div class="navigationDetail">
                <div class="navigation_logo">
                    <img class="nav_logo" src="/media/page/logo.png" alt="">
                </div>
                <div class="navigation_menu">
                    <a href="#">Home</a>
                    <a href="#">Store
                    <img src="/media/page/up.png" alt=""></a>              
                    <a href="#">Contact Us</a>
                    <a href="#">Testing</a>
                </div>
                <div class="navigation__buttons">
                    <button class="nav_btngift">
                        <img  class="nav_imgBtn" src="/media/page/gift_btn.png" alt="">
                    </button>
                    <button class="nav_btncart">
                        <img class="nav_imgBtn" src="/media/page/car_btn.png" alt="">
                    </button>
                    <p class="nav_countcart">{{cartSize}}</p>
                </div>
</div>
<div class="Allproducts">
    <H1 id="trending"> NOTEBOOKS</H1>
    <div class="list">
        {{#each products}}
            {{#if type:notebooks}}

                <div class="product">
        
                <!--  <img class="product_image" src="/media/notebooks/{{colorblue_1}}" alt=""> 
                {{color_images.[0].images.[0]}}.png
                <h3 class="product_tittle">{{name}}</h3>
                    <p>{{_id}}</p>
                -->
                    <a class="image_btn" href="/productsDetail/{{_id}}" class="product_tittle">
                        <img class="product_image" src="/media/notebooks/{{color_images.[0].images.[0]}}.png" alt="" >
                    </a>
                    <a href="/productsDetail/{{_id}}" class="product_tittle">{{name}}</a>
                    <p class="product_priceb">$ {{priceb}} COP</p>
                    <p class="product_priced">$ {{discount}} COP</p>
                    <div class="product_ buttons">
                        <input class="btn_car" data-name="{{this._id}}" type="image" src="/media/page/car_btn.png">                    
                        <input class="btn_gift" type="image" src="/media/page/gift_btn.png">
                            
                        
                    </div>
                </div>
                <br>
                {{/if}}
        {{/each}}
    </div>
    