 <div class="sub_nav">
          <a href="/store/notebook">Notebooks</a>
                <a href="/store/pens">Pens</a>              
                <a href="/store/accersories">Accesories</a>
                <a href="/store/bags">Bags</a>
     </div>
 <div class="grandote">
     
        <div class="navigation">
                <div class="navigation_logo">
                    <img class="nav_logo" src="/media/page/logo.png" alt="">
                </div>
                <div class="navigation_menu">
                    <a href="#">Home</a>
                    <a href="#">Store
                    <img src="/media/page/up.png" alt=""></a>              
                    <a href="#">Contact Us</a>
                    <a href="#">Testing</a>
                </div>
               

                        
        </div>
        <div class="publicity">
            {{#each products}}
                {{#if publicity}}
                    <div class="publicity_left">
                        <h1 class="publicity_tittle">
                        {{{name}}}
                        </h1>
                        <h2 class="publicity_subtittle">
                            NOTEBOOKS
                        </h2 >
                    
                        <p class="publicity_text">
                        {{{description}}} 
                        </p>
                        <div class="publicity_price">
                            <P class="publicity_priceb">
                            ${{{priceb}}} 
                            </p>
                            <P>
                                ${{{discount}}}
                            </P>
                        </div>
                        <div class="publicity_btns">
                            <button class="publicity_btncart">
                                Add to cart
                            </button>

                        </div>
                    </div>  
                    <div class="publicity_right"> 
                        <div class="publicity_up">
                            <div class="publicity_principalimg">
                             <img class="principal" src="/media/notebooks/{{color_images.[0].images.[0]}}.png" alt=""> 
                            </div>
                        </div>
                        <div class="publicity_down">
                            <div class="publicity_secundaryimgs">
                                    <img class="miniature" src="/media/notebooks/{{color_images.[0].images.[0]}}.png" alt="">
                                    <img  class="miniature" src="/media/notebooks/{{color_images.[0].images.[1]}}.png" alt="">
                                    <img class="miniature" src="/media/notebooks/{{color_images.[0].images.[2]}}.png" alt="">
                                
                            </div>
                        </div>
                        
                    </div>
                
                {{/if}}
        {{/each}}    

    </div>
 </div>
<div class="Allproducts">
    <H1 id="trending"> Trending Products</H1>
    <div class="list">
        {{#each products}}
            {{#if trending}}

                <div class="product">
        
                <!--  <img class="product_image" src="/media/notebooks/{{colorblue_1}}" alt=""> 
                {{color_images.[0].images.[0]}}.png
                <h3 class="product_tittle">{{name}}</h3>
                    <p>{{_id}}</p>
                -->
                    <a class="image_btn" href="/productsDetail/{{_id}}" class="product_tittle">
                        <img class="product_image" src="/media/notebooks/{{color_images.[0].images.[0]}}.png" alt="" >
                    </a>
                    <a href="/productsDetail/{{_id}}" class="product_tittle">{{name}}</a>
                    <p class="product_priceb">$ {{priceb}} COP</p>
                    <p class="product_priced">$ {{discount}} COP</p>
                    <div class="product_ buttons">
                        <input class="btn_car" data-name="{{this._id}}" type="image" src="/media/page/car_btn.png">                 
                        <input class="btn_gift" type="image" src="/media/page/gift_btn.png">
                            
                        
                    </div>
                </div>
                <br>
                {{/if}}
        {{/each}}
    </div>
    


    <H1 id=""></H1>


    <div class="list">
        {{#each products}}
            {{#if trending}}

                <div class="product">
        
                
                    <a class="image_btn" href="/productsDetail/{{_id}}" class="product_tittle">
                        <img class="product_image" src="/media/notebooks/{{color_images.[0].images.[0]}}.png" alt="" >
                    </a>
                    <a href="/productsDetail/{{_id}}" class="product_tittle">{{name}}</a>
                    <p class="product_priceb">$ {{priceb}} COP</p>
                    <p class="product_priced">$ {{discount}} COP</p>
                    <div class="product_ buttons">
                        <input class="btn_car" data-name="{{this._id}}" type="image" src="/media/page/car_btn.png"> 
                                            
                        <input class="btn_gift" type="image" src="/media/page/gift_btn.png">
                            
                        
                    </div>
                </div>
                </a>
                <br>
                {{/if}}
        {{/each}}
    </div>
</div>    
    <script src="/scripts/addCart.js"></script>

