 <div class="grandote">
    <div class="navigation">
            <div class="navigation_logo">
                <img src="/media/page/logo.png" alt="">
            </div>
            <div class="navigation_menu">
                <a href="#">Home</a>
                <a href="#">Store</a>
                <a href="#">Contact Us</a>
                <a href="#">Help</a>
            </div>
            <div class="navigation__buttons">
                <button class="btn">
                    <img src="/media/page/gift_btn.png" alt="">
                </button>
                <button class="btn">
                    <img src="/media/page/car_btn.png" alt="">
                </button>
            </div>

                    
    </div>
    <div class="publicity">
                <div class="publicity_info">
                <h1 class="publicity_tittle">
                    NOTEBOOKS
                </h1>
                <h2 class="publicity_subtittle">
                    LONELY
                </h2 >
                </div>
                <p class="publicity_text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit repellat omnis quia nisi sit, cumque facere sed sequi. 
                </p>
                <div class="publicity_images">
                    <img src="" alt="">

                </div>

            </div>

 </div>

<H1 id="trending"> Trending Products</H1>
<div class="list">
    {{#each products}}
        {{#if trending}}

            <a class="product">
    
              <!--  <img class="product_image" src="/media/notebooks/{{colorblue_1}}" alt=""> 
               {{color_images.[0].images.[0]}}.png
              -->
              <img class="product_image" src="/media/notebooks/{{color_images.[0].images.[0]}}.png" alt="">
             
            
                <h3 class="product_tittle">{{name}}</h3>
                <p>{{_id}}</p>
                <a href="/productsDetail/{{_id}}" class="product_tittle">{{name}}</a>
                <p class="product_priceb">$ {{priceb}} COP</p>
                <p class="product_priced">$ {{discount}} COP</p>
                <div class="product_ buttons">
                    <input class="btn_car" type="image" src="/media/page/car_btn.png">                        
                    <input class="btn_gift" type="image" src="/media/page/gift_btn.png">
                        
                    
                </div>
            </a>
            <br>
            {{/if}}
    {{/each}}
 </div>
 

<H1 id=""></H1>


 <div class="list">
    {{#each products}}
        {{#if trending}}

            <a class="product">
    
              <!--  <img class="product_image" src="/media/notebooks/{{colorblue_1}}" alt=""> 
               {{color_images.[0].images.[0]}}.png
              -->
              <img class="product_image" src="/media/notebooks/{{color_images.[0].images.[0]}}.png" alt="">
             
            
                <h3 class="product_tittle">{{name}}</h3>
            
                <p class="product_priceb">$ {{priceb}} COP</p>
                <p class="product_priced">$ {{discount}} COP</p>
                <div class="product_ buttons">
                    <input class="btn_car" type="image" src="/media/page/car_btn.png">                        
                    <input class="btn_gift" type="image" src="/media/page/gift_btn.png">
                        
                    
                </div>
            </a>
            <br>
            {{/if}}
    {{/each}}
 </div>